*{
    padding: 0;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.logoinbox{
    width: 14rem;
    /* height: 70%; */
    margin-top: 4rem;
    
}

.logoinbox2{
    width: 14rem;
    /* height: 70%; */
    margin-top: 0.5rem;
}

.textinbox{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}
.textinbox2{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}
span{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.form2{
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}



input{
    height: 3rem;
    margin-top: 0.1rem;
    border: 1px solid #00000066;
    border-radius: 100px;
    color: #8897AD;
    font-size: 1rem;
    padding-left: 1.5rem;

}

.pass{
    margin-top: 0.5rem;
}
p{
    color: #FC8A06;
    font-size: 0.9rem;

}
.forgot{
    display: flex;
    justify-content: end;
    margin-top: 0.5rem;
}

button{
    margin-top: 1.2rem;
    font-size: 1.3rem;
    height: 3rem;
    width: 100%;
    background: #FC8A06;
    border-radius: 100px;
    border: none;
    color: aliceblue;
}

.line{
    display: none;
}
.google{
    display: none;
}

.signuptext{
    margin-top: 1.8rem;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.1rem;
}

.signuptext span{
    color: #FC8A06;
    cursor: pointer;
    font-size: 1.1rem;
}

.signlab{
    margin-top: 0.5rem;
    
}

.in{
height: 2.2rem;
}

@media only screen and (max-width: 1400px) {
 html{
    font-size:90% ;
 }

  }

  @media only screen and (max-width: 610px) {
    .logoinbox{
        /* width: 14rem; */
        height: 3.5rem;
        margin-top: 4rem;
        
    }
    .textinbox{
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        margin-top: 2rem;
        margin-bottom: 1.2rem;
    }
    .loginbox span{
        margin: 0;
        font-size: 1rem;
    }
    span{
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }
    
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .form{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }
    
    input{
        height: 3rem;
        width: 25rem;
        margin-top: 0.1rem;
        border: 1px solid #00000066;
        border-radius: 100px;
        color: #8897AD;
        font-size: 1rem;
        padding-left: 1.5rem;
    
    }
    
    .pass{
        margin-top: 0.8rem;
    }
    p{
        color: #FC8A06;
        font-size: 0.9rem;
    
    }
    .forgot{
        display: flex;
        justify-content: end;
        margin-top: 0.5rem;
    }
    
    button{
        margin-top: 1.2rem;
        font-size: 1.3rem;
        height: 3rem;
        width: 100%;
        background: #FC8A06;
        border-radius: 100px;
        border: none;
        color: aliceblue;
    }
    
    .signuptext{
        margin-top: 1.8rem;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: 1.1rem;
    }
    
    .signuptext span{
        color: #FC8A06;
        cursor: pointer;
        font-size: 1.1rem;
    }
    .line{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.9rem;
        margin-top: 3rem;
    }
    .lineimg{
        height: 0.2rem;
        width: 10rem;
    }
    .google{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-size: 1.3rem;
        height: 3rem;
        width: 100%;
        /* background: #FC8A06; */
        border-radius: 100px;
        border: 1px solid #00000066;
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .google span{
        color: black;
    }
     }