.mapbox{
    width: 100%;
    /* border-radius: 120px; */
    position: relative;
}
.mapcode{
    width: 100%;
}
iframe{
    border: none;
    border-radius: 12px;
    width: 100%;
}

.location{
    /* width: 30%; */
    background-color: #03081FF7;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 4rem 1.5rem;
    position: absolute;
    top: 7%;
    left: 13%;
    border-radius: 12px;
}

.location :nth-child(1){
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
}

.location :nth-child(2){
    font-size: 1rem;
    color: #FC8A06;
    font-weight: 600;
}

.location :nth-child(3){
    /* font-size: 1rem; */
    color: #FFFFFF;
    /* font-weight: 600; */
    margin-top: 1rem;
}

.location :nth-child(4){
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
    margin-top: 0.85rem;
}

.location :nth-child(5){
    font-size: 0.9rem;


}

.location :nth-child(6){
    font-size: 0.9rem;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
    margin-top: 0.85rem;

}


.location :nth-child(7){
    font-size: 0.9rem;
  

}

@media screen and (max-width:768px) {

    .location{
        width: 80%;
        height: 40%;
        margin: auto;
        background-color: #03081FF7;
        display: flex;
        flex-direction: column;
        padding: 4rem 2rem 4rem 1.5rem;
        position: absolute;
        top: 30%;
        left: 4.5%;
       bottom: 0;
        /* left: 13%; */
        border-radius: 12px;
    }

    .location span{
        margin: 0;
    }
    
}